<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "プロフィール", @user %></span>
      <span><b>Microposts:</b> <%= @user.microposts.count %></span>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
     <% @users.each do |user| %>
       <div class="clearfix">
        <%= link_to gravatar_for(user, size: 30), user %>
        <span class="label label-info"><%= user.name %></span>
      </div>
    <% end %>
  </div>
</div>